@model Modelo.Cadastros.Produto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Editar PRODUTO";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="panel panel-primary">
    <div class="panel-heading">
        Editando dados de um PRODUTO
    </div>
    <div class="panel-body">
        @Html.Partial("~/Views/Produtos/_PartialEditContentPanel.cshtml", Model)
    </div>
    <div class="panel-footer panel-info">
        <div class="col-md-offset-3 col-md-9">
            <input type="submit" value="Salvar alterações" class="btn btn-danger" />
            @Html.ActionLink("Retornar para a listagem de PRODUTOS", "Index", null,
            new { @class = "btn btn-warning" })
        </div>
        <br />
        <br />
    </div>
</div>
}
@section ScriptPage {
    <script type="text/javascript">
        $(document).ready(function () {
        $('li').removeClass("active");
        $('#liProdutos').addClass("active");
        });
    </script>
}
