@model Modelo.Cadastros.Produto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Visualizando detalhes de um PRODUTO";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        Visualizando detalhes de um PRODUTO
    </div>
    <div class="panel-body">
        @Html.Partial("~/Areas/Cadastros/Views/Produtos/_PartialDetailsContentPanel.cshtml", Model)
    </div>
    <div class="panel-footer panel-info">
        @Html.ActionLink("Editar", "Edit", new { id = Model.ProdutoId }, new { @class = "btn btn-danger" })
        @Html.ActionLink("Retornar para a listagem de PRODUTOS", "Index", null, new { @class = "btn btn-warning" })
    </div>
</div>
@section ScriptPage {
    <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass("active");
            $('#liProdutos').addClass("active");
        });
    </script>
}